<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Authentication</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="/css/auth.css" rel="stylesheet" type="text/css">
    </head>
    <body>
        <div class="auth">
            {{ block('content') is defined ? block('content') : '' }}
        </div>
    </body>
</html>
