{% extends 'profile/master.twig' %}
{% from 'macros.twig' import pagination %}
{% from 'forum/macros.twig' import forum_topic_listing %}

{% block content %}
    <div class="profile">
        {% include 'profile/_layout/header.twig' %}

        {# if profile_relation_pagination.pages > 1 %}
            <div class="container profile__pagination">
                {{ pagination(profile_relation_pagination, canonical_url) }}
            </div>
        {% endif #}
    </div>
{% endblock %}
