{% extends 'profile/master.twig' %}

{% block content %}
    <div class="profile">
        {% include 'profile/_layout/header.twig' %}

        <div class="warning">
            <div class="warning__content">
                <p>User topic listing is gone for a while, it will be back someday but with less bad.</p>
            </div>
        </div>
    </div>
{% endblock %}
