.forum__status {
    border: 1px solid var(--accent-colour);
    display: flex;
    align-items: center;
    min-height: 40px;
    margin-bottom: 2px;
    box-shadow: 0 1px 2px var(--accent-colour);

    &__icon {
        height: 40px;
        width: 40px;
        background-size: 35px;
        background-image: url('https://static.flash.moe/images/topic-icons/topic-locked-read.png');
        background-position: center;
        background-repeat: no-repeat;
        background-color: var(--accent-colour);
        flex-grow: 0;
        flex-shrink: 0;
    }

    &__text {
        margin: 0 10px;
        flex-grow: 1;
        flex-shrink: 1;
    }

    &__emphasis {
        font-weight: 700;
    }
}
