{% extends '@nova/auth/master.twig' %}

{% set banner_classes = 'banner--large landing__banner' %}

{% block banner_content %}
    <h1 style="align-self: center; text-align: left; flex-grow: 1; padding-left: 2em">Welcome back!</h1>
{% endblock %}

{% block content %}
    <div class="platform form" id="auth-form">
        <div>
            {% if flashii_is_ready() %}
                <a href="/auth/register"><button class="button" type="button">Click here if you don't have an account yet</button></a>
            {% else %}
                <p style="padding: .2em">You can't create an account yet, but you may log in if you have one already!</p>
            {% endif %}
        </div>
        <div>
            <input class="form__text" type="text" name="username" placeholder="Username">
        </div>
        <div>
            <input class="form__text" type="password" name="password" placeholder="Password">
        </div>
        <div>
            <button class="button">Login!</button>
        </div>
    </div>
    {{ parent() }}
{% endblock %}
