.input__textarea {
    border: 1px solid #aaa;
    padding: 1px;
    vertical-align: bottom;
    background: #fff;
    color: #111;
    font-family: @mio-font-mono;
    font-size: 1em;

    &:focus {
        border-color: var(--accent-colour);
    }
}
