{% extends 'manage/users/master.twig' %}
{% from 'macros.twig' import container_title %}
{% from 'manage/macros.twig' import permissions_table %}
{% from '_layout/input.twig' import input_hidden, input_csrf, input_select %}

{% block manage_content %}
    <div class="container">
        {{ container_title(forum.forum_name) }}
        there's nothing here go away
    </div>
{% endblock %}
