{% extends 'manage/users/master.twig' %}
{% from 'manage/macros.twig' import permissions_table %}

{% block manage_content %}
    <div class="container">
        <div class="container__title">{{ forum is defined ? forum.forum_name ~ ' ' : '' }}Permissions for {{ role.role_name }}</div>
        {{ permissions_table(perms) }}
    </div>
{% endblock %}
