# Libraries
/vendor
/node_modules
/npm-debug.log
/yarn-error.log

# Configuration
/config/config.ini
/.debug
/.migrating

# Storage
/store

# OS specific
[Tt]humbs.db
[Dd]esktop.ini

# IDE specific
.vscode/
.vs/
.idea/

# Compiled/copied assets
/public/js
/public/css
/public/webfonts
/assets/typescript/*.d.ts
