@mio-settings-sessions-mobile: 1000px;

.settings__sessions {
    margin: 1px;

    &__country {
        vertical-align: middle;
    }

    @media (max-width: @mio-settings-sessions-mobile) {
        &__button {
            width: 100%;
            text-align: center;
        }
    }

    &__actions {
        display: flex;
        justify-content: center;
        padding: 6px;
        border-bottom: 1px solid var(--accent-colour);
        margin-bottom: 1px;
    }

    &__entry {
        display: flex;
        border: 1px solid var(--accent-colour);
        justify-content: space-between;
        padding: 1px;
        flex-wrap: wrap;

        &:not(:last-child) {
            margin-bottom: 1px;
        }

        &--current {
            background-color: #c2affe;
        }
    }

    &__column {
        flex-grow: 1;

        &:not(:last-child) {
            margin-left: 5px;
            margin-right: 1px;
        }

        &--ip,
        &--created,
        &--expires,
        &--options {
            flex-grow: 0;
            flex-shrink: 0;
        }

        @media (max-width: @mio-settings-sessions-mobile) {
            &--options {
                text-align: center;
                flex-grow: 1;
                width: 100%;
            }
        }

        &--user-agent {
            flex-shrink: 1;
            flex-grow: 1;
        }

        &--ip {
            min-width: 200px;
        }

        &--created,
        &--expires {
            min-width: 120px;
        }

        &__name {
            font-weight: 700;
        }
    }
}
