{% extends '@mio/master.twig' %}
{% from '@mio/macros.twig' import navigation %}

{% block content %}
    {% block news_content %}
        <div class="container">
            <div class="container__title">News!</div>
            <div class="container__content">
                <p>Welcome to News, the news is still heavily in development. You can follow us on News where we'll post news every so often, we'll also announce when the news is ready for public use there!</p>
            </div>
        </div>
    {% endblock %}

    {{ navigation(mio_navigation, '/news.php') }}
{% endblock %}
