{% extends '@nova/home/master.twig' %}

{% set banner_classes = 'banner--insane landing__banner' %}

{% block banner_content %}
    <div class="landing__inner">
        {% if app.session is null %}
            <div class="landing__buttons">
                <a href="/auth.php?m=register" class="landing__button">register</a>
                <a href="/auth.php?m=login" class="landing__button">login</a>
            </div>
            <div class="landing__text">
                <p>Keep an eye on <a href="https://twitter.com/flashiinet" class="container__footer-link" target="_blank" rel="noreferrer noopener">Twitter</a>!</p>
            </div>
        {% else %}
            <div class="landing__text">
                <p>Welcome, {{ app.session.user.username }}!</p>
                <p>We're getting there, slowly but surely. Keep an eye on <a href="https://twitter.com/flashiinet" class="container__footer-link" target="_blank" rel="noreferrer noopener">Twitter</a> for any updates (or the chat as well, when that goes up), things are coming and they will be good.</p>
            </div>
        {% endif %}
    </div>
{% endblock %}
