{% extends '@nova/home/master.twig' %}

{% set banner_classes = 'banner--insane landing__banner' %}

{% block banner_content %}
    <div class="landing__inner">
        <div class="landing__buttons">
            <a href="/auth/register" class="landing__button">register</a>
            <a href="/auth/login" class="landing__button">login</a>
        </div>
        <div class="landing__text">
            <p>Registration soon, but not now.</p>
            <p>Keep an eye on <a href="https://twitter.com/flashiinet" class="container__footer-link" target="_blank" rel="noreferrer noopener">Twitter</a>!</p>
        </div>
    </div>
{% endblock %}
