.user-listing {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;

    &__entry {
        margin: 2px;
        min-width: 296px;

        &__content {
            display: flex;
        }
    }

    &__info {
        display: flex;
        flex-grow: 1;
        flex-shrink: 1;
    }

    &__avatar {
        width: 46px;
        height: 46px;
        flex-grow: 0;
        flex-shrink: 0;
    }
}
