{% extends '@mio/master.twig' %}
{% from '@mio/macros.twig' import navigation %}

{% block content %}
    <div class="mio__container">
        <div class="mio__container__title">Error {{ error_code }}{{ error_text is defined ? ' - ' ~ error_text : '' }}</div>
        <div class="mio__container__content">
            {% block error_message %}
                <p>Try again later, perhaps.</p>
            {% endblock %}
        </div>
    </div>

    {{ navigation(mio_navigation) }}
{% endblock %}

