{% extends 'manage/users/master.twig' %}
{% from 'macros.twig' import pagination %}
{% from 'user/macros.twig' import user_card %}

{% block manage_content %}
    <div class="userlist">
        {% for user in manage_users %}
            <div class="userlist__item">
                {{ user_card(user, '?v=view&u=%d', '?v=role&r=%d', [
                    {
                        'href': '/profile.php?u=%d'|format(user.user_id),
                        'text': 'Profile',
                    }
                ]) }}
            </div>
        {% endfor %}
    </div>

    {{ pagination(manage_users_pagination, '/manage/users.php', null, {'v': 'listing'}) }}
{% endblock %}
