.auth__register {
    max-width: 700px;
    width: 100%;
}
.auth__register__container {
    display: flex;

}
.auth__register__form {
    flex: 1 1 auto;
}
.auth__register__info {
    max-width: 300px;
    width: 100%;
    flex: 0 1 auto;
    padding: 5px;
}
.auth__register__paragraph {
    line-height: 1.5em;
    margin: 5px 0;
}
.auth__register__link {
    color: inherit;
    text-decoration: underline;
}

@media (max-width: 800px) {
    .auth__register__container {
        flex-direction: column;
    }
    .auth__register__info {
        max-width: 100%;
    }
}