{% extends 'manage/changelog/master.twig' %}
{% from 'macros.twig' import pagination %}
{% from 'changelog/macros.twig' import changelog_listing %}

{% block manage_content %}
    <a href="?v=change" class="input__button">Create new change</a>

    <div class="container">
        <div class="container__title">
            Changelog
        </div>
        <div class="changelog__content">
            {{ changelog_listing(
                changelog_changes, false, true,
                '?v=change&c=%d', '#cd-%s',
                '?v=tag&t=%d',
                '/manage/user.php?v=view&u=%d'
            ) }}
            {{ pagination(changelog_changes_count, changelog_take, changelog_offset, '?v=changes') }}
        </div>
    </div>
{% endblock %}
