{% extends 'manage/changelog/master.twig' %}
{% from 'macros.twig' import pagination, container_title %}
{% from 'changelog/macros.twig' import changelog_listing %}

{% block manage_content %}
    <a href="?v=change" class="input__button">Create new change</a>

    <div class="container">
        {{ container_title('Changelog') }}

        <div class="changelog__content">
            {{ changelog_listing(
                changelog_changes, false, true,
                '?v=change&c=%d', '#cd-%s',
                '?v=tag&t=%d',
                '/manage/user.php?v=view&u=%d'
            ) }}

            <div class="changelog__pagination">
                {{ pagination(changelog_pagination, '/manage/changelog.php', null, {'v': 'changes'}) }}
            </div>
        </div>
    </div>
{% endblock %}
