{% extends 'errors/master.twig' %}

{% set error_code = 403 %}
{% set error_text = 'Access Denied!' %}

{% block error_message %}
    <p>You aren't allowed to be here. Try logging in, if you haven't yet.</p>
{% endblock %}
