.news__list {
    margin: 2px 0;
}

.news__list__item {
    text-decoration: none;
    color: inherit;
    display: block;
}
.news__list__item:hover {
    text-decoration: underline;
}
.news__list__item--kvp {
    display: flex;
}

.news__list__name {
    flex-shrink: 1;
    flex-grow: 1;
}
.news__list__value {
    flex-shrink: 0;
    flex-grow: 0;
}
