{% extends 'manage/general/master.twig' %}
{% from 'macros.twig' import container_title %}

{% block manage_content %}
    <div class="container">
        {{ container_title('Overview') }}

        <div class="container__content">
            <p>Welcome to Manage, here you can manage things.</p>
            <p>Please teach me how to give a shit about management panel. -flashwave</p>
        </div>
    </div>
{% endblock %}
