{% extends 'manage/general/master.twig' %}

{% block content %}
    <div class="container">
        <div class="container__title">The Broom Closet</div>
        <div class="container__content">
            Welcome to Manage, here you can manage things.
        </div>
    </div>
{% endblock %}
