{% extends 'manage/general/master.twig' %}

{% block manage_content %}
    <div class="container container--new">
        <div class="container__title">Overview</div>
        <div class="container__content">
            Welcome to Manage, here you can manage things.
        </div>
    </div>
{% endblock %}
