@mio-news-mobile: 700px;

.news__container {
    margin: 0;

    &:not(:last-child) {
        margin-bottom: 2px;
    }

    &__content {
        margin: 2px;
        display: flex;

        @media (max-width: @mio-news-mobile) {
            flex-direction: column;
        }
    }
}
