.input__select {
    border: 1px solid #aaa;
    padding: 1px;
    background: #fff;
    color: #111;

    &:focus {
        border-color: #9475b2;
    }
}

.mio--dark .input__select {
    background: #111;
    color: #fff;
}
