{% extends 'news/master.twig' %}
{% from 'macros.twig' import container_title %}
{% from '_layout/comments.twig' import comments_section %}
{% from 'news/macros.twig' import news_post %}

{% set title = post.post_title ~ ' :: News' %}
{% set canonical_url = url('news-post', {'post': post.post_id}) %}
{% set manage_link = '/manage/news.php?v=post&p=' ~ post.post_id %}

{% block content %}
    {{ news_post(post) }}

    {% if comments is defined %}
        <div class="container">
            {{ container_title('<i class="fas fa-comments fa-fw"></i> Comments') }}
            {{ comments_section(comments, comments_category, current_user|default(null), comments_perms) }}
        </div>
    {% endif %}
{% endblock %}
