.mio__settings__avatar {
    display: flex;
    min-height: 200px;
    justify-content: space-between;

    &__form {
        display: block;
        margin-bottom: 2px;
    }

    &__forms {
        text-align: center;
        flex-grow: 1;
    }

    &__preview {
        flex-grow: 1;
        flex-shrink: 0;
    }
}
