{% extends '@mio/master.twig' %}
{% from '@mio/macros.twig' import navigation %}

{% set title = 'Settings » ' ~ settings_title %}

{% block content %}
    {{ navigation(settings_modes|flip, settings_mode, true, '?m=%s') }}

    {% block settings_container %}
        {% if settings_errors is defined and settings_errors|length > 0 %}
            <div class="container">
                <div class="container__title">Information</div>
                <div class="container__content">
                    <ul class="settings__errors">
                        {% for error in settings_errors %}
                            <li class="settings__errors__entry">{{ error }}</li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        {% endif %}

        {% block settings_content %}
            <div class="container">
                <div class="container__title">{{ title }}</div>
                <div class="container__content">
                    This is a blank settings page.
                </div>
            </div>
        {% endblock %}
    {% endblock %}
{% endblock %}
