{% extends 'info/master.twig' %}
{% from 'macros.twig' import container_title %}

{% set title = document.title %}

{% block content %}
    <div class="container">
        {{ container_title(document.title) }}

        <div class="container__content markdown">
            {{ document.content|raw }}
        </div>
    </div>
{% endblock %}
