{% extends 'info/master.twig' %}
{% from 'macros.twig' import container_title %}

{% set title = document.title %}

{% block content %}
    <div class="container container--no-overflow">
        {{ container_title(document.title) }}

        <div class="container__content markdown">
            {{ document.content|parse_text(constant('MSZ_PARSER_MARKDOWN'))|raw }}
        </div>
    </div>
{% endblock %}
