.pagination {
    list-style: none;
    display: flex;
    padding: 1px;
    border: 1px solid var(--accent-colour);

    &__wrapper {
        background-color: var(--background-colour);
        margin: 2px 0;
        box-shadow: 0 1px 2px var(--accent-colour);
    }

    &__separator {
        flex-grow: 1;
        flex-shrink: 1;
    }

    &__option {
        background: var(--accent-colour);
        color: var(--text-colour-header);
        height: 20px;
        min-width: 20px;

        &:not(:last-child) {
            margin-right: 1px;
        }

        &--disabled {
            color: #383838;
            background: #777;
        }

        @media (max-width: @site-mobile-width) {
            height: 30px;
            min-width: 30px;
            font-size: 1.5em;
            line-height: 1.5em;
        }
    }

    &__link {
        display: block;
        width: 100%;
        height: 100%;
        text-align: center;
        text-decoration: none;
        color: inherit;

        &--prev,
        &--next,
        &--first,
        &--last,
        &--active,
        &:hover {
            font-weight: bold;
        }
    }
}
