{% extends 'auth/master.twig' %}

{% block content %}
    <div class="container container--new auth">
        <div class="container__title">Unavailable</div>

        <div class="container__content">
            The site is currently unavailable, try again later.
        </div>
    </div>
{% endblock %}
