{% extends 'auth/master.twig' %}
{% from 'macros.twig' import container_title %}

{% block content %}
    <div class="container auth">
        {{ container_title('<i class="fas fa-lock fa-fw"></i> Unavailable') }}

        <div class="container__content">
            The site is currently unavailable, try again later.
        </div>
    </div>
{% endblock %}
