{% extends 'auth/master.twig' %}

{% block content %}
    <div class="auth-container logout">
        <div class="logout__message">
            <p class="logout__paragraph">The site is currently unavailable, try again later.</p>
        </div>
    </div>
{% endblock %}
