{% extends 'auth/master.twig' %}
{% from 'macros.twig' import container_title %}

{% block content %}
    <div class="container auth">
        {{ container_title('<i class="fas fa-user-clock fa-fw"></i> Logout confirmation') }}

        <div class="auth__form">
            <p class="auth__paragraph">We couldn't verify that you were actually the person attempting to log out.</p>
            <p class="auth__paragraph">Press the button below to verify the logout request, otherwise click back in your browser or close this tab.</p>
            <p class="auth__paragraph">This error is usually caused by pressing the logout button on a page that's been loaded for a while.</p>
            <a href="{{ url('auth-logout') }}" class="input__button">Log out</a>
        </div>
    </div>
{% endblock %}
