{% extends 'auth/master.twig' %}

{% block content %}
    <div class="container">
        <div class="form__wrapper">
            <input class="form__toggle" id="_authmode_reset" type="radio" name="_authmode" checked>
            <div class="form form--reset">
                <label class="form__title" for="_authmode_reset">Resetting password for {{ reset_user.username }}</label>
                <form class="form__content" method="post" action="?m=reset">
                    <input type="hidden" name="user" value="{{ reset_user.user_id }}">

                    <label class="form__row">
                        <input class="text text--password" type="text" name="verification" placeholder="verification code" maxlength="12" value="{{ reset_verify|default('') }}" required>
                    </label>

                    <label class="form__row">
                        <input class="text text--password" type="password" name="password[new]" placeholder="new password" required>
                    </label>

                    <label class="form__row">
                        <input class="text text--password" type="password" name="password[confirm]" placeholder="confirm password" required>
                    </label>

                    <div class="form__row form__row--columns">
                        <div class="form__column form__column--message{% if auth_reset_error is defined %} form__column--error{% endif %}">
                            {{ auth_reset_error|default(auth_reset_message|default('')) }}
                        </div>

                        <div class="form__column">
                            <button class="button button--change">Change password</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
