{% extends 'master.twig' %}
{% from 'macros.twig' import container_title %}
{% from 'manage/macros.twig' import manage_navigation %}

{% set title = title|default('Broom Closet') %}
{% set site_logo = '/images/logos/imouto-broom.png' %}

{% block content %}
    <div class="manage">
        <nav class="manage__sidebar">
            {{ manage_navigation(manage_menu) }}
        </nav>

        <div class="manage__content">
            {% block manage_content %}
                <div class="container">
                    {{ container_title('No brooms') }}
                    <div class="container__content">
                        This broom closet is empty.
                    </div>
                </div>
            {% endblock %}
        </div>
    </div>
{% endblock %}
