{% extends 'master.twig' %}
{% from 'manage/macros.twig' import manage_navigation %}
{% set title = 'Broom Closet' %}
{% set is_manage = true %}

{% block content %}
    <div class="management">
        <nav class="management__navigation">
            <div class="container">
                <div class="container__title">
                    The Broom Closet
                </div>
                <div class="side-navigation__wrapper">
                    {{ manage_navigation(manage_menu) }}
                </div>
            </div>
        </nav>

        <div class="management__content">
            {% block manage_content %}
                <div class="container">
                    <div class="container__title">No brooms</div>
                    <div class="container__content">
                        This broom closet is empty.
                    </div>
                </div>
            {% endblock %}
        </div>
    </div>
{% endblock %}
