{% extends 'master.twig' %}
{% from 'manage/macros.twig' import manage_navigation %}
{% set title = 'Broom Closet' %}

{% block content %}
    <div class="manage">
        <nav class="manage__sidebar">
            {{ manage_navigation(manage_menu) }}
        </nav>

        <div class="manage__content">
            {% block manage_content %}
                <div class="container container--new">
                    <div class="container__title">No brooms</div>
                    <div class="container__content">
                        This broom closet is empty.
                    </div>
                </div>
            {% endblock %}
        </div>
    </div>
{% endblock %}
