.avatar {
    flex-shrink: 0;
    background-color: #fbeeff;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: block;
    border: 1px solid #9475b2;
    max-height: 200px;
    max-width: 200px;
}
