.changelog {
    display: flex;
    margin: 1px;

    @media (max-width: @site-mobile-width) {
        flex-wrap: wrap;
    }

    &:not(:last-child) {
        margin-bottom: 1px;

        @media (max-width: @site-mobile-width) {
            border-bottom: 1px solid var(--accent-colour);
            padding-bottom: 1px;
        }
    }

    &__pagination {
        margin: 1px;
    }

    &__none {
        margin: 1px 4px;
    }

    &__info {
        display: flex;
    }

    // date header in public changelog
    &__date {
        display: block;
        background-image: linear-gradient(0deg, var(--accent-colour), transparent);
        color: var(--text-colour-header);
        font-weight: 700;
        margin-bottom: 1px;
        text-decoration: none;
        padding: 1px 3px;

        &:hover {
            text-decoration: underline;
        }

        &:not(:first-child) {
            margin-top: 4px;
        }
    }

    &__datetime,
    &__user,
    &__action {
        color: inherit;
        flex: 0 0 auto;
        margin-right: 1px;
        text-decoration: none;
        display: flex;
        align-items: center;

        &:hover {
            text-decoration: underline;
        }

        &__text {
            width: 100%;
        }
    }

    // prefix date time in manage
    &__datetime {
        min-width: 100px;
        text-align: center;
    }

    &__user {
        min-width: 100px;
        padding-left: 4px;

        @media (max-width: @site-mobile-width) {
            flex-grow: 1;
        }
    }

    &__action {
        min-width: 80px;
        padding-right: 4px;

        &__text {
            text-align: right;
        }

        @media (max-width: @site-mobile-width) {
            margin-right: 0;
        }

        &--light {
            color: var(--text-colour-inverted);
        }
    }

    &__log {
        word-wrap: break-word;
        overflow: hidden;
        flex: 1 1 auto;
        margin-left: 2px;

        @media (max-width: @site-mobile-width) {
            width: 100%;
        }

        &--link {
            color: inherit;
            text-decoration: underline dotted;

            &:hover {
                text-decoration: underline solid;
            }
        }
    }

    &__tags {
        display: flex;
        flex-wrap: wrap;
        font-size: .9em;
        line-height: 1.5em;
    }

    &__tag {
        border: 1px solid var(--accent-colour);
        margin-right: 1px;
        border-radius: 2px;
        display: block;
        color: inherit;
        text-decoration: none;
        padding: 0 5px;

        &:hover {
            text-decoration: underline;
        }
    }

    &__change {
        margin: 1px;

        &__line {
            border: 1px solid var(--accent-colour);
            display: flex;
            align-items: stretch;
            flex: 1 0 auto;
        }

        &__row,
        &__column {
            display: flex;
        }

        &__column {
            flex-direction: column;

            &--user-info {
                justify-content: space-between;
                flex: 0 0 auto;
            }

            &--change-info {
                flex: 1 1 auto;
                overflow: hidden;
            }
        }

        &__action {
            display: block;
            padding: 6px 2px;
            border-right: 1px solid var(--accent-colour);
            writing-mode: sideways-lr;
            text-orientation: sideways;
            letter-spacing: 1px;
            text-align: center;
            flex: 0 0 auto;

            &--light {
                color: var(--text-colour-inverted);
            }
        }

        &__log {
            padding: 4px 12px;
            font-size: 1.4em;
            align-self: center;
            flex: 1 1 auto;
            overflow: hidden;

            &__text {
                word-wrap: break-word;
            }
        }

        &__date {
            border: 1px solid var(--accent-colour);
            color: inherit;
            text-decoration: none;
            margin-right: 1px;
            text-align: center;
            padding: 2px;

            &:hover {
                text-decoration: underline;
            }
        }

        &__user {
            border: 1px solid var(--accent-colour);
            padding: 2px;
            display: flex;
            align-items: center;
            text-decoration: none;
            color: inherit;
            margin: 1px;
            margin-left: 0;

            &__info {
                margin: 2px 5px;
            }

            &__title {
                width: 120px;
                word-wrap: break-word;
            }

            &__avatar {
                width: 60px;
                height: 60px;
                margin-right: 1px;
                align-self: flex-start;
            }

            &__name {
                font-size: 1.5em;
                line-height: 1.2em;
            }
        }

        &__text {
            margin: 1px 0;
            padding: 1px 3px;
            border-top: 1px solid var(--accent-colour);
            font-size: 1.2em;
            line-height: 1.5em;
            flex: 1 1 auto;
            word-wrap: break-word;
        }

        &__tags {
            list-style: none;
            display: flex;
            flex-wrap: wrap;
        }

        &__tag {
            border: 1px solid var(--accent-colour);
            margin-right: 1px;
            border-radius: 2px;

            &__link {
                display: block;
                width: 100%;
                height: 100%;
                color: inherit;
                text-decoration: none;
                padding: 0 5px;
            }

            &:hover {
                text-decoration: underline;
            }
        }
    }
}
