{% extends 'user/master.twig' %}
{% from 'macros.twig' import container_title %}

{% set title = 'User not found!' %}

{% block content %}
    <div class="container">
        {{ container_title('User not found!') }}

        <div class="container__content">
            <p>Check the url and try again.</p>
        </div>
    </div>
{% endblock %}
