{% extends 'forum/master.twig' %}
{% from 'macros.twig' import container_title %}
{% from 'forum/macros.twig' import forum_category_listing %}

{% set title = 'Forum Listing' %}
{% set canonical_url = '/forum/' %}

{% block content %}
    {% if not forum_empty %}
        {% for category in forum_categories %}
            {% if category.forum_children > 0 %}
                {{ forum_category_listing(
                    category.forum_subforums,
                    category.forum_name,
                    category.forum_colour,
                    category.forum_id == constant('MSZ_FORUM_ROOT')
                        ? ''
                        : 'f' ~ category.forum_id
                ) }}
            {% endif %}
        {% endfor %}

        {% if current_user is defined %}
            <div class="container forum__actions">
                <a href="?m=mark&amp;c={{ csrf_token('forum_mark') }}" class="input__button forum__actions__button">Mark All Read</a>
                {#<a href="?m=unread" class="input__button forum__actions__button">Unread Posts</a>#}
                {#<a href="?m=your" class="input__button forum__actions__button">Your Posts</a>#}
            </div>
        {% endif %}
    {% else %}
        <div class="container">
            {{ container_title('<i class="fas fa-comment-slash fa-fw"></i> Forums') }}

            <div class="container__content">
                <p>There are no forums yet, check back later!</p>
            </div>
        </div>
    {% endif %}
{% endblock %}
