{% extends 'forum/master.twig' %}
{% from 'forum/macros.twig' import forum_category_listing %}

{% set title = 'Forum Listing' %}
{% set canonical_url = '/forum/' %}

{% block content %}
    {% if not forum_empty %}
        {% for category in forum_categories %}
            {% if category.forum_children > 0 %}
                {{ forum_category_listing(category.forum_subforums, category.forum_name, category.forum_colour) }}
            {% endif %}
        {% endfor %}

        <div class="container container--new forum__actions">
            <a class="input__button input__button--new forum__actions__button">Mark All Read</a>
            <a class="input__button input__button--new forum__actions__button">Unanswered Posts</a>
            <a class="input__button input__button--new forum__actions__button">New Posts</a>
            <a class="input__button input__button--new forum__actions__button">Your Posts</a>
        </div>
    {% else %}
        <div class="container">
            <div class="container__title">Forums</div>
            <div class="container__content">
                <p>There are no forums yet, check back later!</p>
            </div>
        </div>
    {% endif %}
{% endblock %}
