{% extends 'forum/master.twig' %}
{% from 'forum/macros.twig' import forum_posting_form, forum_header %}

{% set title = 'Posting' %}

{% if posting_topic is defined %}
    {% set form_title = 'Replying » ' ~ posting_topic.topic_title %}
    {% set form_target_id = posting_topic.topic_id %}
{% else %}
    {% set form_title = 'Creating Topic » ' ~ posting_forum.forum_name %}
    {% set form_target_id = posting_forum.forum_id %}
{% endif %}

{% block content %}
    <div style="{{ forum_colour|html_colour('--accent-colour') }}">
        {{ forum_header('Creating Topic', posting_breadcrumbs) }}
        {{ forum_posting_form(form_title, form_target_id, posting_topic is defined) }}
    </div>
{% endblock %}
